<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
	<div class="row" style="width:200px">
		<div ng-repeat="user in suggestedUsers">
			<div class="panel panel-info">
				<div class="panel-heading">
				<img src="http://localhost:9090/collaboration_middleware/getimage/{{user.email}}" height="50px" width="50px" alt="No Image">
				</div>
				<div class="panel-body">
				<b>{{user.email}}</b><br>
				<b>{{user.firstname}}&nbsp;{{user.lastname}}</b>
				<button type="button" class="button button-primary" ng-click="addFriend(user)" >Add Friend</button>
				</div>
			</div>
		</div>
	</div>

</div>

</body>
</html>